<%- include('header') %> 
<body style="background: #333">
    <div style="min-height: 100vh; width: 80%; margin: 0 auto;"  >
        <%- include('topbar') %> 
        <div id="content" style="display: flex;"></div>
    </div>
    <script src="/js/drive.js"></script>
    <script src="/components/ui_explorerItem.js"></script>
    <%- scripts%>
</body>
</html>