<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/cssLib/opApp.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <script src="apps/login.js" type="text/javascript"></script>
    <script src="js/config.js"></script>
    <title><%=title%></title>
</head>
<body>
    <div id="loginContent">
        <div id="loginBox">
            <span class="whitesmoke">Username</span>
            <input id="username" name="user" type="text">
            <span class="whitesmoke mt1">Password</span>
            <input id="password" name="pass" type="password">
            <button class="mt10" type="button" onclick="login()">Login</button>
            <div id="error">Error de autenticacion</div>
        </div>
    </div>

</body>
</html>