<%- include('header') %> 
<body style="background: #333 url(img/background.jpg) no-repeat center fixed;">
    <div style="display:flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="display: flex; flex-direction: column;width: 350px; background-color: rgba(3,3,3,0.5);border-radius: 8px;padding: 20px ">
            <span style="color: whitesmoke">Username</span>
            <input id="username" type="text">
            <span style="color: whitesmoke; margin-top: 5px">Password</span>
            <input id="password" type="password">
            <button style="margin-top: 30px" type="button" onclick="login()">Login</button>
            <div style="color: red;" id="error"></div>
        </div>
    </div>
    <script>
        function login(){
            const username=document.querySelector('#username');
            const password=document.querySelector('#password');
            if (username.value == '' || password.value == ''){
                getError();
                return 
            }
            fetch(`${API}login/${username.value}/${password.value}`,{credentials: 'same-origin'})
            .then(res=> {
                if (res.status == 200) return res.text();
                return res.status;
            })
            .then(data => {
                if(data != 403){
                    sessionStorage.setItem('key',data);
                    window.location.href = `${API}?key=${data}`;
                }else{
                    getError();
                }
            });
        }

        function getError(){
            er = document.querySelector('#error')
            er.innerHTML = "Error de autenticación"
        }
    </script>
</body>
</html>