<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/cssLib/opApp.css"/>
    <link rel="stylesheet" type="text/css" href="/css/serebro.css"/>
    <script src="/js/config.js"></script>
    <title><%=title%></title>
</head>
<body>
    <header>
        <%- include('topbar') %> 
    </header>
    <div id="container">
        <section id="left">
            Menu de la izquierda
        </section>
        <section id="content">

        </section>
        <section id="right">
            <%- include('right') %> 
        </section>
    </div>
</div>
    <%- scripts%>
</body>
</html>