<nav>
    <div id="app_icon">
        <!-- <a class="topbar_links_app" href=""> -->
            <img src="/img/background.jpg"/>
        <!-- </a> -->
    </div>
    <div>
        fkljdslkfjsdlkj
        <span style="font-size: 4em">☰</span> 
    </div>
</nav>