<div style="display: flex; justify-content: center;">
    <a class="topbar_links_app" href="">
        <div style="width: 94px; border: 6px solid blue;">
            <img src="/img/background.jpg"/>
        </div>
    </a>
    <a class="topbar_links_app" href="drive">
        <ui-celement superior="oc" inferior="drive" color="#ffcb00" size="3" cross="false">
            <span slot="content">(Dr)</span>
        </ui-celement>
    </a>
    <a class="topbar_links_app" href="flow">
        <ui-celement superior="oc" inferior="flow" color="red" size="3" cross="false">
            <span slot="content">(⚡)</span>
        </ui-celement>
    </a>
    <a class="topbar_links_app" href="pepapig">
        <ui-celement superior="oc" inferior="€++" color="#930093" size="3" cross="false">
            <span slot="content">(🐽)</span>
        </ui-celement>
    </a>
    <script src="/components/ui_cElement.js"></script>
    <script>
        links = document.querySelectorAll('.topbar_links_app');
        for (let i= 0; i < links.length; i++){
            href = links[i].getAttribute('href');
            links[i].setAttribute('href', API+href+'?key='+KEY);
        }
    </script>
</div>