<div style="display: flex">
    <a style="text-decoration: none;" href="drive">
        <div
        style="color:#ffcb00;border: 8px solid #ffcb00;font-size: 48px; padding:40px 4px; display: flex;width: max-content ">
        (Dr)
        <sup style="margin-top: 0.1em; font-size:24px; margin-left: 0em; ">oc</sup>
        <sub style="margin-top: 1em; font-size:24px; margin-left: -0.9em; padding-right: 0.1em">drive</sub>
        </div>
    </a>
    <a style="text-decoration: none;" href="">
        <div
            style="color:red;border: 8px solid red;font-size: 48px; padding:40px 4px; display: flex;width: max-content ">
            ⚡
            <sup style="margin-top: 0.1em; font-size:24px; margin-left: 0em; ">oc</sup>
            <sub style="margin-top: 1em; font-size:24px; margin-left: -0.9em; padding-right: 0.1em">flow</sub>
        </div>
    </a>
    <a style="text-decoration: none;" href="pepapig">
        <div
            style="color:#930093;border: 8px solid #ffcb00;font-size: 48px; padding:40px 4px; display: flex;width: max-content ">
            (Lot)
            <sup style="margin-top: 0.1em; font-size:24px; margin-left: 0em; ">oc</sup>
            <sub style="margin-top: 1em; font-size:24px; margin-left: -0.9em; padding-right: 0.1em">$$</sub>
        </div>
    </a>
</div>