body{
    /* background-image: linear-gradient(#AAA 1%, #222 99%);
    background-repeat: repeat-y; */
    background-color: #333;
    background-position: center;
    height: 100vh;
    font-size: 18px;
}


header{
    height: 5em;
    margin-bottom: 4px;
}

nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 5em;
}

#container{
    display: flex;
}  

#left{
    max-width: 200px;
    min-width: 200px;
    /* flex-grow: 1;
    flex-basis: 1em; */
}

#content{
    flex-grow: 2;
    flex-basis:70em;
}


#app_icon{
    width: 5em;
    margin-left: 1em;
    
}

.icon{
    cursor: pointer;
}
.tools{
    font-size: 1.1em;
}

#overlay{
    background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 40px, #000 40px, #000 50px );
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}

#multiTool{
    position: fixed; 
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
}
@media screen and (max-width: 576px) {
	body{
		font-size: 11px;
	}

    #content{
        display: block;
    }  
    
    #left{
        display: none;
    }
    
    #center{
        display: block;
    }
    
    #right{
        display: none;
    }
}