body{
    background-image: radial-gradient(#AAA 1%, #222 99%);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


header{
    height: 5em;
    margin-bottom: 4px;
}

nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 5em;
}

#container{
    display: flex;
}  

#left{
    max-width: 240px;
    min-width: 240px;
    /* flex-grow: 1;
    flex-basis: 1em; */
}

#content{
    flex-grow: 2;
    flex-basis:70em;
}


#app_icon{
    width: 5em;
    margin-left: 1em;
    
}

@media screen and (max-width: 576px) {
	body{
		font-size: 11px;
	}

    #content{
        display: block;
    }  
    
    #left{
        display: none;
    }
    
    #center{
        display: block;
    }
    
    #right{
        display: none;
    }
}